openapi: 3.0.3
info:
  title: Go1 Enrollments Learning objects API
  version: '2025-01-01'
  description: 'The Go1 API lets partners and platforms discover Go1''s learning content library, manage learner enrollments, provision and manage customer portals, and subscribe to Go1 events via webhooks. Versioning is date-based and selected per request with the `Api-Version` header (current: 2025-01-01). All requests are authenticated with OAuth 2.0 bearer tokens issued by https://auth.go1.com/oauth/token. Reconstructed by the API Evangelist enrichment pipeline from Go1''s published REST reference (developers.go1.com) — operations, parameters, responses and scopes are Go1''s verbatim reference data.'
  contact:
    name: Go1 Developer Support
    url: https://developers.go1.com/
  termsOfService: https://www.go1.com/terms/customer-terms
servers:
- url: https://gateway.go1.com
  description: Go1 API gateway (production)
security:
- OAuth2: []
tags:
- name: Learning objects
paths:
  /learning-objects/{id}/alternatives:
    get:
      security:
      - OAuth2:
        - portal.read
        - lo.read
      operationId: getRetiringContentAlternatives
      summary: List alternative learning objects
      description: Returns a list of alternative learning objects for a specified learning object. You can refine the list by specifying a `type` parameter. For example, setting `type=retirement` will return alternative learning objects recommended as replacements for the specified learning object that is retiring from the library.
      parameters:
      - name: authorization
        required: true
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        description: The id of the learning object
        example: 1234
        schema:
          type: string
      - name: type
        required: false
        in: query
        description: "Specifies the type of alternative learning objects to retrieve. \n\n The available values are: \n- `retirement`: for alternatives recommended as replacements for retiring content from the Go1 content library. \n\n Default value is `retirement`."
        schema:
          default: retirement
          enum:
          - retirement
      - name: limit
        required: false
        in: query
        description: A limit on the number of objects to be returned, between 1 and 100. The default is 10.
        example: 10
        schema:
          type: number
          format: int64
          default: 10
      - name: offset
        required: false
        in: query
        description: For use in pagination. The item number within a list request to start displaying results after. For example, a request with `limit=20` and `offset=20`, returns items 21 - 40.
        example: 20
        schema:
          format: int64
          default: 0
          type: number
      responses:
        '200':
          description: Returns the list of alternatives
          content:
            application/json:
              schema:
                required:
                - total
                - hits
                type: object
                properties:
                  total:
                    type: number
                    description: Total number of alternative learning objects matching the specified criteria.
                    example: 50
                  hits:
                    type: array
                    items:
                      type: integer
                    description: An array of IDs representing the alternative learning objects recommended as replacements for the specified learning object. The array is sorted by relevance, with the most relevant items appearing first.
                    example:
                    - 123
                    - 456
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
      tags:
      - Learning objects
  /learning-objects/{id}:
    get:
      description: Retrieves the details of a Learning Object by either id (uuid) or our legacy lo_id (integer). By default, only the `core` set of fields is returned. Use the `include[]` query parameter to retrieve additional information about the Learning Object, such as `pricing`, `lifecycle` or `relevance`.
      operationId: learning-objects-v3-get
      parameters:
      - name: id
        required: true
        in: path
        description: Unique identifier of the Learning Object
        schema:
          type: string
      - name: identifier
        required: false
        in: query
        description: 'The `identifier` query parameter allows you to specify the identifier you would like to use when looking up a Learning Object. The available values are:- `external_id`: The API will consider the supplied {id} as the external_id, and will look up the Learning Object that corresponds to the provided external_id.'
        schema:
          example: external_id
          type: string
          enum:
          - external_id
      - name: include[]
        required: false
        in: query
        description: 'Returns extended information related to the Learning Object. Enum:

          - `core`, returns the `core` object.

          - `pricing`, returns the `pricing` object.

          - `lifecycle`, returns the `lifecycle` object.

          - `relevance`, returns the `relevance` object.

          - `skills`, returns the `skills` object.

          - `quality`, returns the `quality` object.

          - `provider`, returns the `provider` object.

          - `protected`, returns the `protected` object.

          - `playback_behavior`, returns the `playback_behavior` object.

          - `images`, returns the `images` object.

          - `preview`, returns the `preview` object.

          - `tags`, returns the `tags` object.

          - `topics`, returns the `topics` object.

          - `offerings`, returns the `offerings` object.

          - `revisions`, returns the `revisions` object.

          - `presentation`, returns the `presentation` object.

          - `accessibility`, returns the `accessibility` object. If the `include[]` parameter is not supplied, the `core` fields will be returned by default. See the response schema for a list of fields that can be expected with each of the objects defined above.'
        schema:
          default: core
          type: array
          items:
            type: string
            enum:
            - alternatives
            - core
            - images
            - lifecycle
            - playback_behavior
            - offerings
            - preview
            - pricing
            - protected
            - provider
            - quality
            - relevance
            - skills
            - tags
            - topics
            - revisions
            - generated_metadata
            - presentation
            - timestamps
            - regulations
            - restrictions
            - accessibility
            - categories
      - name: preferred_language
        required: false
        in: query
        description: The language in which the Learning Object is presented. ISO-639-1 language code format, with an optional ISO-3166 two character country code, separated by a hyphen.
        schema:
          example: en-US
          type: string
      responses:
        '200':
          description: The requested Learning Object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: A new globally unique identifier for the Learning Object. The previous `id` and `lo_id` fields will become a `legacy_id` in future API versions.
                    example: con_01HBYXF3HYPTG5Q1RJ7BPFAF23
                  lo_id:
                    type: string
                    description: The unique identifier for the Learning Object.
                    example: '1234'
                  updated_time:
                    type: string
                    description: The date and time when the Learning Object was last updated. In [UTC timezone](https://en.wikipedia.org/wiki/Coordinated_Universal_Time), stored in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
                    example: '2023-05-19T05:13:30.827Z'
                  created_time:
                    type: string
                    description: The date and time when the Learning Object was created. In [UTC timezone](https://en.wikipedia.org/wiki/Coordinated_Universal_Time), stored in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
                    example: '2023-05-19T05:13:30.827Z'
                  updated_media_time:
                    type: string
                    description: The date and time when the Learning Object had its media updated. In [UTC timezone](https://en.wikipedia.org/wiki/Coordinated_Universal_Time), stored in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
                    example: '2023-05-19T05:13:30.827Z'
                  updated_metadata_time:
                    type: string
                    description: The date and time when the Learning Object had its metadata updated. In [UTC timezone](https://en.wikipedia.org/wiki/Coordinated_Universal_Time), stored in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
                    example: '2023-05-19T05:13:30.827Z'
                  core:
                    description: The minimum core or essential information about the Learning Object, such as its title, description and image.
                    allOf:
                    - type: object
                      properties:
                        creators:
                          description: An array containing the Account id (guid) of the Go1 user(s) who created the Learning Object.
                          example:
                          - usr_01HBYXG21DRXDQ6XBNMDJ8WTMH
                          - usr_01HBYXGCF2HYX5925YBKPMS4TA
                          type: array
                          items:
                            type: string
                        type:
                          type: string
                          description: 'The Learning Object type. Enum: course, group, playlist, module, assignment, audio, document, event, interactive, manual, link, lti, question, quiz, text, video'
                          enum:
                          - course
                          - group
                          - playlist
                          - module
                          - assignment
                          - audio
                          - document
                          - event
                          - interactive
                          - manual
                          - link
                          - lti
                          - question
                          - quiz
                          - text
                          - video
                          example: course
                        title:
                          type: string
                          description: The title or name of the Learning Object.
                          example: Introduction to Programming
                        description:
                          type: string
                          description: A brief description or overview of the Learning Object.
                          example: Learn the basics of programming with this comprehensive course.
                        image:
                          description: The URL of a thumbnail image associated with the Learning Object.
                          allOf:
                          - type: object
                            properties:
                              key:
                                type: string
                                description: A unique key for the media.
                              value:
                                type: string
                                description: 'Stores the actual media or a representation of the resource the media is referring to. For example, depending on the context the content of the value can be:- Direct Link: If the resource is externally hosted, ''value'' can contain a URL or URI pointing to the location where the resource is accessible.- Raw Data: For resources that are self-contained or need to be stored within the object for immediate access, ''value'' can hold the raw data directly.- Reference Identifier: In scenarios where the resource is part of a larger dataset or system, value can contain an identifier that uniquely points to the resource within that context.'
                              mimetype:
                                type: string
                                description: MIME type for the media.
                              features:
                                description: Describes specific options that are available for the media asset, where each property is a boolean indicating support for an individual feature.
                                allOf:
                                - type: object
                                  properties:
                                    downloadable:
                                      type: boolean
                                      description: Indicates whether the asset is available for download
                                      example: true
                            required:
                            - key
                            - value
                            - mimetype
                        external_id:
                          type: string
                          description: An external source identifier from where the content originated.
                          example: course123
                        provider_id:
                          type: string
                          description: The identifier for the content provider’s portal, where the learner object was created.
                          example: '9876'
                        standalone:
                          type: boolean
                          description: Flag to indicate if this Learning Object is a standalone item or not. Possible values `0` or `1`.
                          example: true
                      required:
                      - creators
                      - type
                      - title
                      - description
                      - image
                      - external_id
                      - provider_id
                      - standalone
                  lifecycle:
                    description: Information related to the various stages and statuses that the Learning Object may go through during its lifecycle.
                    allOf:
                    - type: object
                      properties:
                        state:
                          type: string
                          description: The state of the content in coherence with the Go1 Content Lifecycle.
                          example: published
                          enum:
                          - draft
                          - published
                          - retired
                          - removed
                        pending_state:
                          description: Pending state transitions.
                          allOf:
                          - type: object
                            properties:
                              removed_time:
                                format: date-time
                                type: string
                                description: The date and time at which the Learning Object will be (or was) removed. In [UTC timezone](https://en.wikipedia.org/wiki/Coordinated_Universal_Time), stored in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
                                example: '2023-05-19T05:13:30.827Z'
                              retired_time:
                                format: date-time
                                type: string
                                description: The date and time when the Learning Object is scheduled for decommissioning. In [UTC timezone](https://en.wikipedia.org/wiki/Coordinated_Universal_Time), stored in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
                                example: '2023-05-19T05:13:30.827Z'
                      required:
                      - state
                  relevance:
                    description: Descriptive information to aid the consumer in understanding the relevance of this Learning Object for them.
                    allOf:
                    - type: object
                      properties:
                        duration:
                          type: number
                          description: The duration of the Learning Object in minutes.
                          example: 180
                        language:
                          type: string
                          description: 'The language in which the Learning Object is presented. ISO-639-1 language code format, with an optional ISO-3166 two character country code, separated by a hyphen. For example: ''en'', ''en-US'', ''en-GB, ''es''.'
                          example: en
                        year_created:
                          type: number
                          description: The year in which the Learning Object was created.
                          example: 2022
                        summary:
                          type: string
                          description: 'A brief summary of the content. Max length: 120 characters.'
                          example: This course provides an intro to programming concepts and techniques.
                        entry_level:
                          type: string
                          description: The level of experience this Learning Object is intended for. Possible values are `Intermediate`, `Beginner`, `Advanced`, `Suitable for everyone`.
                          example: Intermediate
                        learning_outcomes:
                          description: Intended learning outcomes or objectives that learners can expect to achieve upon completing the Learning Object.
                          example:
                          - Understand the fundamental concepts of object-oriented programming
                          - Create classes and objects in Python
                          type: array
                          items:
                            type: string
                        region:
                          description: Regions in which Learning Object is available for consumption. If set to `GLOBAL`, it can be consumed throughout the globe. Available regions mapped to their key:- `495 - GLOBAL`, `496 - AU`, `497 - US`, `498 - GB`, `499 - NZ`, `500 - MY`, `501 - ZA`, `515 - CA`, `516 - UAE`
                          example:
                          - GLOBAL
                          - AU
                          type: array
                          items:
                            type: string
                        locale:
                          description: 'The regional accent of the audio in the content. Values include: `en-AU`, `en-US`, `en-UK`.'
                          example:
                          - en-AU
                          - en-US
                          type: array
                          items:
                            type: string
                        author:
                          description: The name of the Author of this content.
                          allOf:
                          - type: object
                            properties:
                              name:
                                type: string
                                description: The name of the author of this content
                              about:
                                type: string
                                description: A short summary of the author for this content
                            required:
                            - name
                            - about
                        who_should_consume:
                          type: string
                          description: Short description of the target audience for this content
                        is_compliance:
                          type: boolean
                          description: Indicates whether the Learning Object is classified as compliance training.
                      required:
                      - language
                  tags:
                    description: Descriptive tags associated with the Learning Object.
                    allOf:
                    - type: object
                      properties:
                        items:
                          description: An array of descriptive tags associated with the Learning Object.
                          type: array
                          items:
                            type: string
                      required:
                      - items
                  topics:
                    description: The [topics](https://help.go1.com/en/articles/6767512-topics-taxonomy) associated with the Learning Object.
                    allOf:
                    - type: object
                      properties:
                        items:
                          description: The list of topics
                          example:
                          - id: 64
                            name: Technology Skills
                          - id: 17
                            name: IT Software
                          - id: 110
                            name: Microsoft Products
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                                description: The topic ID
                              name:
                                type: string
                                description: The topic name
                            required:
                            - id
                            - name
                      required:
                      - items
                  protected:
                    description: Information that allows Go1 to consume the Learning Object.
                    oneOf:
                    - type: object
                      properties:
                        can_mark_as_complete:
                          type: boolean
                          description: Whether or not a Learning Object can be marked as complete by a user without completing it.
                          example: true
                        media:
                          description: Contains the media data of the Learning Object.
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: A unique key for the media.
                              value:
                                type: string
                                description: 'Stores the actual media or a representation of the resource the media is referring to. For example, depending on the context the content of the value can be:- Direct Link: If the resource is externally hosted, ''value'' can contain a URL or URI pointing to the location where the resource is accessible.- Raw Data: For resources that are self-contained or need to be stored within the object for immediate access, ''value'' can hold the raw data directly.- Reference Identifier: In scenarios where the resource is part of a larger dataset or system, value can contain an identifier that uniquely points to the resource within that context.'
                              mimetype:
                                type: string
                                description: MIME type for the media.
                              features:
                                description: Describes specific options that are available for the media asset, where each property is a boolean indicating support for an individual feature.
                                allOf:
                                - type: object
                                  properties:
                                    downloadable:
                                      type: boolean
                                      description: Indicates whether the asset is available for download
                                      example: true
                            required:
                            - key
                            - value
                            - mimetype
                      description: audio type Learning Object
                      required:
                      - media
                    - type: object
                      properties:
                        can_mark_as_complete:
                          type: boolean
                          description: Whether or not a Learning Object can be marked as complete by a user without completing it.
                          example: true
                        media:
                          description: Contains the media data of the Learning Object.
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: A unique key for the media.
                              value:
                                type: string
                                description: 'Stores the actual media or a representation of the resource the media is referring to. For example, depending on the context the content of the value can be:- Direct Link: If the resource is externally hosted, ''value'' can contain a URL or URI pointing to the location where the resource is accessible.- Raw Data: For resources that are self-contained or need to be stored within the object for immediate access, ''value'' can hold the raw data directly.- Reference Identifier: In scenarios where the resource is part of a larger dataset or system, value can contain an identifier that uniquely points to the resource within that context.'
                              mimetype:
                                type: string
                                description: MIME type for the media.
                              features:
                                description: Describes specific options that are available for the media asset, where each property is a boolean indicating support for an individual feature.
                                allOf:
                                - type: object
                                  properties:
                                    downloadable:
                                      type: boolean
                                      description: Indicates whether the asset is available for download
                                      example: true
                            required:
                            - key
                            - value
                            - mimetype
                      description: document type Learning Object
                      required:
                      - media
                    - type: object
                      properties:
                        can_mark_as_complete:
                          type: boolean
                          description: Whether or not a Learning Object can be marked as complete by a user without completing it.
                          example: true
                        id:
                          type: string
                          description: Id of interactive
                          example: '12345'
                        status:
                          type: string
                          enum:
                          - processing
                          - ready
                          - error
                          description: Status of the async job for the interactive import.
                          example: ready
                        error_message:
                          type: string
                          description: Error message of the async job for the interactive import.
                          example: Not found
                      description: interactive type Learning Object
                      required:
                      - id
                      - status
                    - type: object
                      properties:
                        can_mark_as_complete:
                          type: boolean
                          description: Whether or not a Learning Object can be marked as complete by a user without completing it.
                          example: true
                        media:
                          description: Contains the media data of the Learning Object.
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: A unique key for the media.
                              value:
                                type: string
                                description: 'Stores the actual media or a representation of the resource the media is referring to. For example, depending on the context the content of the value can be:- Direct Link: If the resource is externally hosted, ''value'' can contain a URL or URI pointing to the location where the resource is accessible.- Raw Data: For resources that are self-contained or need to be stored within the object for immediate access, ''value'' can hold the raw data directly.- Reference Identifier: In scenarios where the resource is part of a larger dataset or system, value can contain an identifier that uniquely points to the resource within that context.'
                              mimetype:
                                type: string
                                description: MIME type for the media.
                              features:
                                description: Describes specific options that are available for the media asset, where each property is a boolean indicating support for an individual feature.
                                allOf:
                                - type: object
                                  properties:
                                    downloadable:
                                      type: boolean
                                      description: Indicates whether the asset is available for download
                                      example: true
                            required:
                            - key
                            - value
                            - mimetype
                        open_mode:
                          type: string
                          enum:
                          - iframe
                          - window
                          - dynamic
                          description: How the interactive should be opened, iframe inside iframe or window inside iframe.
                          example: iframe
                        integration:
                          type: boolean
                          description: Flag to indicate that the LO is integrated content.
                          example: false
                        check_url:
                          type: string
                          description: A URL that will be polled when the content is being consumed.
                          example: https://example.com/contentdata/12345
                        authentication_type:
                          type: string
                          description: Type of authentication used to get info about a learning content.
                          enum:
                          - saml
                          - none
                          example: saml
                      description: link type Learning Object
                      required:
                      - media
                      - open_mode
                      - integration
                    - type: object
                      properties:
                        can_mark_as_complete:
                          type: boolean
                          description: Whether or not a Learning Object can be marked as complete by a user without completing it.
                          example: true
                        id:
                          type: string
                          description: Id of LTI.
                          example: '12345'
                      description: lti type Learning Object
                      required:
                      - id
                    - type: object
                      properties:
                        can_mark_as_complete:
                          type: boolean
                          description: Whether or not a Learning Object can be marked as complete by a user without completing it.
                          example: true
                        id:
                          type: string
                          description: Id of question.
                          example: '12345'
                      description: question type Learning Object
                      required:
                      - id
                    - type: object
                      properties:
                        can_mark_as_complete:
                          type: boolean
                          description: Whether or not a Learning Object can be marked as complete by a user without completing it.
                          example: true
                        id:
                          type: string
                          description: Id of quiz.
                          example: '12345'
                      description: quiz type Learning Object
                      required:
                      - id
                    - type: object
                      properties:
                        can_mark_as_complete:
                          type: boolean
                          description: Whether or not a Learning Object can be marked as complete by a user without completing it.
                          example: true
                        media:
                          description: Contains the media data of the Learning Object.
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: A unique key for the media.
                              value:
                                type: string
                                description: 'Stores the actual media or a representation of the resource the media is referring to. For example, depending on the context the content of the value can be:- Direct Link: If the resource is externally hosted, ''value'' can contain a URL or URI pointing to the location where the resource is accessible.- Raw Data: For resources that are self-contained or need to be stored within the object for immediate access, ''value'' can hold the raw data directly.- Reference Identifier: In scenarios where the resource is part of a larger dataset or system, value can contain an identifier that uniquely points to the resource within that context.'
                              mimetype:
                                type: string
                                description: MIME type for the media.
                              features:
                                description: Describes specific options that are available for the media asset, where each property is a boolean indicating support for an individual feature.
                                allOf:
                                - type: object
                                  properties:
                                    downloadable:
                                      type: boolean
                                      description: Indicates whether the asset is available for download
                                      example: true
                            required:
                            - key
                            - value
                            - mimetype
                        provider:
                          type: string
                          enum:
                          - cloudinary
                          - other
                          - azure
                          - youtube
                          - vimeo
                          description: Source of the video.
                          example: youtube
                      description: video type Learning Object
                      required:
                      - media
                      - provider
                    - type: object
                      properties:
                        can_mark_as_complete:
                          type: boolean
                          description: Whether or not a Learning Object can be marked as complete by a user without completing it.
                          example: true
                      description: other Learning Object types
                  pricing:
                    description: Information about the price and currency of the Learning Object.
                    allOf:
                    - type: object
                      properties:
                        price:
                          type: number
                          description: The price of the Learning Object.
                          example: 19.99
                        currency:
                          type: string
                          description: The currency in which the price is specified.
                          example: USD
                      required:
                      - price
                      - currency
                  skills:
                    description: The skills that relate to the Learning Object.
                    allOf:
                    - type: object
                      properties:
                        items:
                          description: The list of skills
                          example:
                          - name: Sketch (design software)
                            confidence: 0.645941
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name or title of the skill.
                              confidence:
                                type: number
                                description: A numerical value indicating the confidence level of the skill associated with the Learning Object.
                            required:
                            - name
                            - confidence
                      required:
                      - items
                  provider:
                    description: Information related to the provider who created the Learning Object.
                    allOf:
                    - type: object
                      properties:
                        logo:
                          type: string
                          description: The URL of the logo for the provider.
                          example: https://example.com/images/logo.png
                        name:
                          type: string
                          description: The name of the provider.
                          example: Learning Provider
                        social_links:
                          description: Links to social media accounts for this Provider.
                          type: array
                          items:
                            type: string
                      required:
                      - logo
                      - name
                  playback_behavior:
                    description: Information related to the playback behavior of this Learning Object.
                    allOf:
                    - type: object
                      properties:
                        launch_mode:
                          type: string
                          description: The launch mode of the Learning Object. Expected values are `iframe`, `window`, and `dynammic`.
                          example: iframe
                        auto_complete:
                          type: boolean
                          description: The Learning Object will automatically mark itself as complete (if false - player will show 'mark as complete' button).
                          example: true
                        mobile_friendly:
                          type: boolean
                          description: The Learning Object can be played on a mobile device.
                          example: true
                        assessable:
                          type: boolean
                          description: The Learning Object contains assessable modules where the learner receives a score or feedback. (Includes any quizzes, assessments or knowledge checks)
                          example: true
                        wcag:
                          type: boolean
                          description: The Learning Object meets accessibility standards in accordance with WCAG 2.0 AA or higher.
                          example: true
                  offerings:
                    description: A collection of offerings available for the Learning Object. The premium offering contains information related to the various stages and statuses that the Learning Object may undergo before being promoted to the premium content offering.
                    allOf:
                    - type: object
                      properties:
                        items:
                          description: The list of offerings applicable to this Learning Object
                          type: array
                          items:
                            type: object
                            properties:
                              status:
                                type: string
                                description: "The state of the content in the offering.Enum:\n   - pending\n   - approved\n   - rejected"
                                example: pending
                              type:
                                type: string
                                description: The type of the offering.
                                example: premium
                              submitted_time:
                                type: string
                                description: The date and time at which the learning object was submitted for review. In UTC timezone, stored in ISO 8601 format.
                                example: '2022-01-02T01:11:01.100Z'
                              submitted_by:
                                type: string
                                description: The user identifier indicating the user who submitted the content for review.
                                example: usr_01JGYZ73XEN1NFATTHS4TAK6KA
                              reviewed_time:
                                type: string
                                description: The date and time at which the learning object was reviewed. In UTC timezone, stored in ISO 8601 format.
                                example: '2022-01-02T01:11:01.100Z'
                              reasons:
                                description: List of details giving the reasons to why the review was approved or rejected.
                                example:
                                - Insufficient details
                                - Not relevant
                                type: array
                                items:
                                  type: string
                              comments:
                                description: List of comments that provided extra details of the review.
                                example:
                                - Improve description and learning outcomes
                                type: array
                                items:
                                  type: string
                            required:
                            - status
                            - type
                            - submitted_time
                            - submitted_by
                            - reviewed_time
                      required:
                      - items
                  quality:
                    description: Quality fields associated with the Learning Object.
                    allOf:
                    - type: object
                      properties:
                        user_rating:
                          description: User rating associated with the Learning Object.
                          allOf:
                          - type: object
                            properties:
                              ratings_count:
                                type: number
                                description: The total number of ratings given to the Learning Object.
                                example: 68
                              five_star_rating:
                                type: number
                                description: Ratings based on five-star reviews.
                                example: 4.68
                            required:
                            - ratings_count
                            - five_star_rating
                  alternatives:
                    description: Alternative content to this Learning Object.
                    allOf:
                    - type: object
                      properties:
                        content:
                          type: string
                          description: An array containing a list of alternative learning object IDs. The list is sorted in descending order of relevance, with the most relevant
                  preview:
                    description: Information that can be used to preview this Learning Object.
                    allOf:
                    - type: object
                      properties:
                        media:
                          description: ''
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: A unique key for the media.
                              value:
                                type: string
                                description: 'Stores the actual media or a representation of the resource the media is referring to. For example, depending on the context the content of the value can be:- Direct Link: If the resource is externally hosted, ''value'' can contain a URL or URI pointing to the location where the resource is accessible.- Raw Data: For resources that are self-contained or need to be stored within the object for immediate access, ''value'' can hold the raw data directly.- Reference Identifier: In scenarios where the resource is part of a larger dataset or system, value can contain an identifier that uniquely points to the resource within that context.'
                              mimetype:
                                type: string
                                description: MIME type for the media.
                              features:
                                description: Describes specific options that are available for the media asset, where each property is a boolean indicating support for an individual feature.
                                allOf:
                                - type: object
                                  properties:
                                    downloadable:
                                      type: boolean
                                      description: Indicates whether the asset is available for download
                                      example: true
                            required:
                            - key
                            - value
                            - mimetype
                  images:
                    description: Images related to displaying the Learning Object.
                    allOf:
                    - type: object
                      properties:
                        media:
                          description: ''
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: A unique key for the media.
                              value:
                                type: string
                                description: 'Stores the actual media or a representation of the resource the media is referring to. For example, depending on the context the content of the value can be:- Direct Link: If the resource is externally hosted, ''value'' can contain a URL or URI pointing to the location where the resource is accessible.- Raw Data: For resources that are self-contained or need to be stored within the object for immediate access, ''value'' can hold the raw data directly.- Reference Identifier: In scenarios where the resource is part of a larger dataset or system, value can contain an identifier that uniquely points to the resource within that context.'
                              mimetype:
                                type: string
                                description: MIME type for the media.
                              features:
                                description: Describes specific options that are available for the media asset, where each property is a boolean indicating support for an individual feature.
                                allOf:
                                - type: object
                                  properties:
                                    downloadable:
                                      type: boolean
                                      description: Indicates whether the asset is available for download
                                      example: true
                            required:
                            - key
                            - value
                            - mimetype
                  revisions:
                    description: Information related to the language/version of this Learning Object, and relationships with other languages/versions.
                    example:
                      en:
                      - id: con_01JKFBRSPT9KHY0EA65F0W076Q
                        lo_id: '1'
                        version: '1.0'
                      fr:
                      - id: con_01JKFBRYXSQJ4CR3PKXTSR7S15
                        lo_id: '2'
                        version: '1.0'
                      de:
                      - id: con_01JKFBT2NE28JYH8G4E8T5GQDE
                        lo_id: '3'
                        version: '1.0'
                      - id: con_01JKFBSY23Y90NNWD4HWCZ4ZNB
                        lo_id: '4'
                        version: '2.0'
                    allOf:
                    - type: object
                      properties:
                        '{language_code}':
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: A new globally unique identifier for the Learning Object. The previous `id` and `lo_id` fields will become a `legacy_id` in future API versions.
                                example: con_01JKFAN733H7XGMGR7MCZK76SV
                              lo_id:
                                type: string
                                description: The unique identifier for the Learning Object.
                                example: '1234'
                              version:
                                type: string
                                description: Version of the content revision. The bigger the number, the newer the version.
                                example: '1.0'
                            required:
                            - id
                            - lo_id
                            - version
                  presentation:
                    description: Type specific data that is available to all consumers
                    oneOf:
                    - type: object
                      properties:
                        items:
                          description: Collection of child Learning Objects
                          example:
                          - id: con_01HCBZ3C1R42418S86TCEC0KW0
                            lo_id: '37184026'
                            core:
                              creators:
                              - usr_01HCBZ3HTRCAPNS27FA97NP4HE
                              type: module
                              title: A module example
                              description: A module example
                              provider_id: '123456'
                            presentation:
                              items:
                              - id: con_01HCBZ6CZMF1KP0RAW82DS8VDS
                                lo_id: '37184027'
                                core:
                                  creators:
                                  - usr_01HCBZ6HBKETTA2YWGNWN90BSB
                                  type: interactive
                                  title: An interactive example
                                  description: An interactive example
                                  provider_id: '123456'
                                protected:
                                  id: 345678
                                  status: ready
                              - id: con_01HCED0R71P3J6VHH1BGCD52AK
                                lo_id: '37184028'
                                core:
                                  creators:
                                  - usr_01HCED0WHGDPTNHWGGE7X80H69
                                  type: video
                                  title: A video example
                                  description: A video example
                                  provider_id: '123456'
                                protected:
                                  id: 345678
                          type: array
                          items:
                            type: object
                      description: course type Learning Object
                    - type: object
                      properties:
                        items:
                          description: Collection of child Learning Objects
                          example:
                          - id: con_01HCBZ6CZMF1KP0RAW82DS8VDS
                            lo_id: '37184027'
                            core:
                              creators:
                              - usr_01HCBZ6HBKETTA2YWGNWN90BSB
                              type: interactive
                              title: An interactive example
                              description: An interactive example
                              provider_id: '123456'
                            protected:
                              id: 345678
                              status: ready
                          - id: con_01HCED0R71P3J6VHH1BGCD52AK
                            lo_id: '37184028'
                            core:
                              creators:
                              - usr_01HCED0WHGDPTNHWGGE7X80H69
                              type: video
                              title: A video example
                              description: A video example
                              provider_id: '123456'
                            protected:
                              id: 345678
                          type: array
                          items:
                            type: object
                      description: module type Learning Object
                  accessibility:
                    description: Optional information that outlines accessibility options that are relevant to an unspecified number of content types.
                    allOf:
                    - type: object
                      properties:
                        wcag_level:
                          type: string
                          enum:
                          - 2.0 AA
                          - 2.0 AAA
                          - 2.1 A
                          - 2.1 AA
                          - 2.1 AAA
                          - 2.2 A
                          - 2.2 AA
                          - 2.2 AAA
                          description: 'The minimum Web Content Accessibility Guidelines (WCAG) conformance level that the content meets.Enum:

                            - 2.0 AA

                            - 2.0 AAA

                            - 2.1 A

                            - 2.1 AA

                            - 2.1 AAA

                            - 2.2 A

                            - 2.2 AA

                            - 2.2 AAA'
                          example: 2.0 AAA
                        features:
                          description: Describes which specific accessibility options are available for the content, where each property is a boolean indicating support for an individual feature.
                          allOf:
                          - type: object
                            properties:
                              closed_captions:
                                type: boolean
                                description: Indicates whether closed captions are provided for the content (true if available, false if not, unset if not applicable or unknown). Applicable to video, interactive, and link content types.
                                example: true
                              transcript:
                                type: boolean
                                description: Indicates whether a transcript is available for the content (true if available, false if not, unset if not applicable or unknown). Applicable to audio, video, interactive, and link content types.
                                example: true
                              screenreader_compatible:
                                type: boolean
                                description: Indicates whether the content is compatible with screen readers (true if compatible, false if not, unset if not applicable or unknown). Applicable to document, text, interactive and link content types.
                                example: true
                required:
                - id
                - updated_time
                - created_time
                - updated_media_time
                - updated_metadata_time
        '400':
          description: Occurs when invalid query parameters are provided
        '401':
          description: Occurs when the request failed to provide a valid JWT.
        '403':
          description: Insufficient roles for this resource.
        '404':
          description: Occurs when there's no Learning Object found with the given id
        '500':
          description: Occurs when a subsequent API call of Go1 internal services has fallen over.
      security:
      - OAuth2:
        - lo.read
      summary: Retrieve a Learning Object
      tags:
      - Learning objects
    delete:
      description: Deletes a Learning Object. This action is limited to the owner of the Learning Object.
      operationId: learning-objects-v3-delete
      parameters:
      - name: id
        required: true
        in: path
        description: The unique identifier for the Learning Object.
        schema:
          example: con_01HBYXF3HYPTG5Q1RJ7BPFAF23
          type: string
      - name: identifier
        required: false
        in: query
        description: 'The `identifier` query parameter allows you to specify the identifier you would like to use when looking up a Learning Object. The available values are:- `external_id`: The API will consider the supplied {id} as the external_id, and will look up the Learning Object that corresponds to the provided external_id.'
        schema:
          enum:
          - external_id
          type: string
      responses:
        '204':
          description: Learning Object has been successfully deleted.
        '400':
          description: Occurs when the Learning Object is not eligible for deletion.
        '401':
          description: Occurs when the request failed to provide a valid JWT.
        '403':
          description: Insufficient roles for this resource.
        '404':
          description: Learning object not found.
        '500':
          description: Occurs when a subsequent API call of Go1 internal services has fallen over.
      security:
      - OAuth2:
        - lo.write
      summary: Delete a Learning Object
      tags:
      - Learning objects
  /learning-objects:
    get:
      description: Returns a list of Learning Objects.
      operationId: learning-objects-v3-search
      parameters:
      - name: limit
        required: false
        in: query
        description: A limit on the number of objects to be returned, between 1 and 50. The default is 20. When `use_scroll` is activated, the maximum limit increases to 5000.
        schema:
          default: 20
          example: 20
          type: number
      - name: offset
        required: false
        in: query
        description: For use in pagination. The item number within a list request to start displaying results after. For example, a request with `limit=20` and `offset=20`, returns items 21 - 40. Note, pagination using the offset parameters cannot exceed 10,000 results.
        schema:
          example: 20
          type: number
      - name: keyword
        required: false
        in: query
        description: A search for Learning Objects based on one or more keywords.
        schema:
          example: Excel
          type: string
      - name: sort
        required: false
        in: query
        description: 'Sorts the results of your request by a given property.Enum:

          - `created`, sorts Learning Objects based on their creation date.

          - `popularity`, sorts Learning Objects based on total number of enrollments.

          - `price`, sorts Learning Objects based on their price.

          - `relevance`, sorts Learning Objects based on how relevant they are for you and your provided search terms and filters.

          - `title`, sorts Learning Objects alphabetical by their title.

          - `retired_time`, sorts Learning Objects based on the date they are scheduled for decommissioning. In [UTC timezone](https://en.wikipedia.org/wiki/Coordinated_Universal_Time), stored in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).

          - `rating`, sorts Learning Objects based on their average user rating.

          - `updated_time`, sorts Learning Objects based on when they were last updated or modified.

          - `updated_media_time`, sorts Learning Objects based on when their media were last updated or modified.

          - `updated_metadata_time`, sorts Learning Objects based on when their metadata were last updated or modified.

          - `premium_submitted_time`, sorts Learning Objects based on their premium submitted time.

          - `premium_reviewed_time`, sorts Learning Objects based on their premium reviewed time.


          If used with the ''keyword'' parameter, the default sort order is by relevance. Otherwise, the default sort order is by title (alphabetical order).To sort by multiple properties, send comma-separated values, for example: `sort=price,title`. This will sort the Learning Objects by price first, then by title.'
        schema:
          example: created
          type: string
          enum:
          - created
          - popularity
          - price
          - relevance
          - title
          - retired_time
          - rating
          - updated_time
          - premium_submitted_time
          - premium_reviewed_time
          - updated_media_time
          - updated_metadata_time
      - name: order
        required: false
        in: query
        description: 'Orders the results by a given direction. Enum: `asc`, `desc`. The default value is descending. To order multiple sort properties, send comma-separated values, for example: `order=asc,desc`. Must be used with the ‘sort’ parameter.'
        schema:
          default: desc
          example: asc
          type: string
          enum:
          - asc
          - desc
      - name: collection
        required: false
        in: query
        description: 'Returns Learning Objects base on given collection. Enum: `library`, `not_added_to_library`, `partner_content`, `subscribe`. Examples:- `collection=subscribe`. Returns Learning Objects that are available on this Portal.- `collection=library`. Returns Learning Objects that are added in the user''s library.- `collection=not_added_to_library`. Returns Learning Objects that have not been added to the user''s library.- `collection=partner_content`. Returns Partner Content Learning Objects available to the user.'
        schema:
          example: library
          type: string
          enum:
          - library
          - not_added_to_library
          - partner_content
          - subscribe
      - name: providers[]
        required: false
        in: query
        description: Filters Learning Objects by provider, specified by the provider ID. Examples:- `providers[]=150`, returns Learning Objects by provider `#150`.- `providers[]=150&providers[]2000`, returns Learning Objects by provider `#150` and provider `#2000`.
        schema:
          type: array
          items:
            type: string
      - name: entry_level[]
        required: false
        in: query
        description: 'Filters Learning Objects by entry level. Enum: `beginner`, `intermediate`, `advanced`, `anyone`. Examples:- `entry_level[]=beginner`, returns Learning Objects where entry level is `beginner`.- `entry_level[]=beginner&entry_level[]=anyone`, returns Learning Objects where entry level is `intermediate` or `anyone`.'
        schema:
          example: advanced
          type: array
          items:
            type: string
            enum:
            - beginner
            - intermediate
            - advanced
            - anyone
      - name: language[]
        required: false
        in: query
        description: Filters Learning Objects by language, and optionally locale. Accepts two-letter [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) codes for languages in lowercase, and optionally two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) codes for countries in lowercase, separated by a hyphen. Examples:- `language[]=en-us`, returns Learning Objects where the language is English (United States).- `language[]=en-gb`, returns Learning Objects where the language is English (United Kingdom).- `language[]=es&language[]=sv`, returns Learning Objects where the language is Spanish or Swedish.
        schema:
          type: array
          items:
            type: string
      - name: language_op
        required: false
        in: query
        description: 'Language search operation, used in combination with the `language` parameter. Enum: `or`, `and`. The default is `or`. Examples:- `language_op=or`. Returns Learning Objects available in ANY of the specified languages (default behavior).- `language_op=and`. Returns Learning Objects available in ALL of the specified languages.- `language[]=en&language[]=fr`. Returns Learning Objects available in either English or French.- `language_op=and&language[]=en&language[]=fr`. Returns Learning Objects available in both English and French.'
        schema:
          default: or
          example: or
          type: string
          enum:
          - and
          - or
      - name: mobile_friendly
        required: false
        in: query
        description: Filters learning objects that are optimised for mobile playback.
        schema:
          example: mobile_friendly=true
          type: boolean
      - name: region_relevance[]
        required: false
        in: query
        description: 'Filters Learning Objects by region relevance. Region values include: `GLOBAL`, `MY`, `UAE`, `US`, `AU`, `NZ`, `CA`, `GB`, `ZA`. Examples:- `region_relevance[]=AU`, returns Learning Objects relevant to `AU`.- `region_relevance[]=AU&region_relevance[]=GLOBAL`, returns Learning Objects relevant to `AU` and `GLOBAL`.'
        schema:
          example: AU
          type: array
          items:
            type: string
            enum:
            - GLOBAL
            - MY
            - UAE
            - US
            - AU
            - NZ
            - CA
            - GB
            - ZA
      - name: locale[]
        required: false
        in: query
        description: "Filters Learning Objects by locale. Locale values include:\n `en-AU`, `en-US`, `en-UK`. Examples:\n- `locale[]=en-AU`, returns Learning Objects relevant to `en-AU`.\n- `locale[]=en-AU&locale[]=en-US`, returns Learning Objects relevant to `en-AU` and `en-US`."
        schema:
          example: en-AU
          type: array
          items:
            type: string
            enum:
            - en-AU
            - en-US
            - en-UK
      - name: duration[][]
        required: false
        in: query
        description: Filters Learning Objects by a duration range. Will return Learning Objects with the specified duration or longer. Examples:- `duration[0][min]=0&duration[0][max]=15&duration[1][min]=60`, returns Learning Objects with the duration between 0 and 15 minutes, or greater than or equal to 60 minutes.- `duration[][max]=60`, returns Learning Objects with the duration less than or equal to 60 minutes.
        schema:
          type: array
          items:
            type: string
      - name: skills[]
        required: false
        in: query
        description: 'Filters Learning Objects by skills they are associated with. Examples:- `skills[]=excel`, returns Learning Objects associated with the skill `excel`.- `skills[]=mathematics&skills[]=leadership`, returns Learning Objects associated with the skills `mathematics`, `leadership`, or both. '
        schema:
          type: array
          items:
            type: string
      - name: topics[]
        required: false
        in: query
        description: Filters Learning Objects by topic. Examples:- `topics[]=sales`, returns Learning Objects associated with the topic `sales`.- `topics[]=leadership&topics[]=sales`, returns Learning Objects associated with the topic `sales`, `leadership`, or both.
        schema:
          type: array
          items:
            type: string
      - name: tags[]
        required: false
        in: query
        description: Filters Learning Objects by tags. Examples:- `tags[]=Agile`, returns Learning Objects that are tagged with `Agile`.- `tags[]=Agile&tags[]=Business Skills`, returns Learning Objects that are tagged with `Agile`, `Business Skills`, or both.
        schema:
          type: array
          items:
            type: string
      - name: type[]
        required: false
        in: query
        description: 'Filters Learning Objects by type. Enum: `course`, `playlist`, `document`, `link`, `interactive`, `text`, `video`, `audio`, `award`. Examples:- `type[]=course`, returns `course` type Learning Objects.- `type[]=video`, returns `video` type Learning Objects.- `type[]=course&type[]=video`, returns `course` and `video` type Learning Objects.'
        schema:
          example: interactive
          type: array
          items:
            type: string
            enum:
            - course
            - playlist
            - document
            - link
            - interactive
            - text
            - video
            - audio
            - award
      - name: facets[]
        required: false
        in: query
        description: "The facets[] query parameter allows you to request facets to be included in the API response. Facets represent sets of data associated with a queried list of Learning Objects, often used to display filtering options in a search interface. Enum:\n  * `providers`\n  * `language`\n  * `mobile_friendly`\n  * `region_relevance`\n  * `topics`\n  * `duration`\n  * `entry_level`\n  * `type`\n  * `locale`\n  * `is_compliance`\n  * `restricted_categories`\n  * `five_star_rating`\n  * `categories`\n  * `accessibility_wcag_level`\n  * `accessibility_features`"
        schema:
          example: duration
          type: array
          items:
            type: string
            enum:
            - providers
            - language
            - mobile_friendly
            - region_relevance
            - topics
            - duration
            - duration_granular
            - entry_level
            - type
            - locale
            - regulations
            - is_compliance
            - restricted_categories
            - five_star_rating
            - categories
            - accessibility_wcag_level
            - accessibility_features
      - name: id[]
        required: false
        in: query
        description: Filters Learning Objects by id.
        schema:
          type: array
          items:
            type: string
      - name: state[]
        required: false
        in: query
        description: 'Filter Learning Objects of specific lifecycle states. If no `state[]` is passed, it defaults to `published`. Note, only `draft` and `published` states can be filtered in the same request. To filter by `retired` or `removed` states, make separate requests. '
        schema:
          default: published
          example: retired
          type: array
          items:
            type: string
            enum:
            - draft
            - published
            - retired
            - removed
      - name: created_time[]
        required: false
        in: query
        description: 'Filters Learning Objects by their `created_time` time in ISO-8601 format. Use it to identify Learning Objects that were created recently.




          - `[min]` will match all records *greater than or equal to* this date


          - `[max]` will match all records *less than or equal to* this date





          Examples:




          - `created_time[min]=2024-07-01` – Returns all Learning Objects created after July 1st, 2024


          - `created_time[min]=2024-01-01&created_time[max]=2024-06-30` – Returns all Learning Objects created between January 1st, 2024 and June 30th, 2024


          - `created_time[max]=2022-01-01` – Returns all Learning Objects that were created prior to January 1st, 2022'
        schema:
          type: array
          items:
            type: string
      - name: updated_time[]
        required: false
        in: query
        description: 'Filters Learning Objects by their `updated_time` time in ISO-8601 format. Use it to identify Learning Objects that were updated recently.




          - `[min]` will match all records *greater than or equal to* this date


          - `[max]` will match all records *less than or equal to* this date





          Examples:




          - `updated_time[min]=2024-07-01` – Returns all Learning Objects updated after July 1st, 2024


          - `updated_time[min]=2024-01-01&updated_time[max]=2024-06-30` – Returns all Learning Objects updated between January 1st, 2024 and June 30th, 2024


          - `updated_time[max]=2022-01-01` – Returns all Learning Objects that haven’t been updated since January 1st, 2022'
        schema:
          type: array
          items:
            type: string
      - name: retired_time[]
        required: false
        in: query
        description: 'Filters Learning Objects by its retired_time time range in ISO-8601 format. Use it with `state[]` of published, retired to find when content is retiring soon or retired.




          - `[min]` will match all records *greater than or equal to* this date


          - `[max]` will match all records *less than or equal to* this date





          Examples:




          - `retired_time[min]=2024-07-01` – Returns all Learning Objects retired after July 1st, 2024


          - `retired_time[min]=2024-01-01&retired_time[max]=2024-06-30` – Returns all Learning Objects retired between January 1st, 2024 and June 30th, 2024


          - `retired_time[max]=2022-01-01` – Returns all Learning Objects that were retired prior to January 1st, 2022'
        schema:
          type: array
          items:
            type: string
      - name: updated_media_time[]
        required: false
        in: query
        description: 'Filters Learning Objects by their `updated_media_time` time in ISO-8601 format. Use it to identify Learning Objects that had its media updated recently.




          - `[min]` will match all records *greater than or equal to* this date


          - `[max]` will match all records *less than or equal to* this date





          Examples:




          - `updated_media_time[min]=2024-07-01` – Returns all Learning Objects that had its media updated after July 1st, 2024


          - `updated_media_time[min]=2024-01-01&updated_media_time[max]=2024-06-30` – Returns all Learning Objects that had its media updated between January 1st, 2024 and June 30th, 2024


          - `updated_media_time[max]=2022-01-01` – Returns all Learning Objects that haven''t had their media updated since January 1st, 2022'
        schema:
          type: array
          items:
            type: string
      - name: updated_metadata_time[]
        required: false
        in: query
        description: 'Filters Learning Objects by their `updated_metadata_time` time in ISO-8601 format. Use it to identify Learning Objects that had its metadata updated recently.




          - `[min]` will match all records *greater than or equal to* this date


          - `[max]` will match all records *less than or equal to* this date





          Examples:




          - `updated_metadata_time[min]=2024-07-01` – Returns all Learning Objects that had its metadata updated after July 1st, 2024


          - `updated_metadata_time[min]=2024-01-01&updated_metadata_time[max]=2024-06-30` – Returns all Learning Objects that had its metadata updated between January 1st, 2024 and June 30th, 2024


          - `updated_metadata_time[max]=2022-01-01` – Returns all Learning Objects that haven''t had their metadata updated since January 1st, 2022'
        schema:
          type: array
          items:
            type: string
      - name: exclude_providers
        required: false
        in: query
        description: Provider operation, used to filter out providers. This is used in combination with the providers parameter.
        schema:
          example: exclude_providers=true
          type: boolean
      - name: use_scroll
        required: false
        in: query
        description: 'Activates “scrolling” mode to paginate through large result sets.


          As standard pagination with offset parameter is limited to 10,000 results, pass `use_scroll=true` along with `scroll_id` parameter to paginate beyond this limit.


          How it works:

          - When `use_scroll=true` is set, the response includes a `next_scroll_id` property in the body.

          - This `next_scroll_id` is valid for 5 minutes and is used to retrieve the next page of results.

          - The number of result per page is determined by the `limit` parameter.'
        schema:
          type: boolean
      - name: scroll_id
        required: false
        in: query
        description: 'The pointer to the next page of results, obtained from a previous scroll request.


          Usage:

          - Initial request: pass `use_scroll=true`, and store the value of `next_scroll_id` property from the response.

          - Subsequent requests: pass `use_scroll=true&scroll_id={next_scroll_id}` where `{next_scroll_id}` is the value from the previous response.


          Notes:

          - Each `next_scroll_id` value is valid for 5 minutes.

          - Only works with `facets[]` query parameter on the first scroll request (i.e. `use_scroll=true`). All other `scroll_id` requests will not return any requested `facets[]`.


          Errors:

          - Returns 400 (Invalid request) for invalid `scroll_id` values.

          - Returns 404 (Not found) for expired `scroll_id` values.'
        schema:
          type: string
      - name: premium_status[]
        required: false
        in: query
        description: 'Filters Learning Objects by premium status. Enum: `pending`, `approved`, `rejected`, `none`.Examples:- `premium_status[]=pending`, returns Learning Objects where premium status is `pending`.- `premium_status[]=pending&premium_status[]=approved`, returns Learning Objects where premium status is `pending` or `approved`.'
        schema:
          example: approved
          type: array
          items:
            type: string
            enum:
            - pending
            - approved
            - rejected
            - none
      - name: ratings_count[]
        required: false
        in: query
        description: 'Filter by number of user ratings review. Will return learning objects with a number of user ratings match the specified value.


          - `[min]` will match all records *greater than or equal to* this number

          - `[max]` will match all records *less than or equal to* this number


          Examples:


          - `ratings_count[min]=20` – Returns all Learning Objects has ratings_count greater than or equal 20

          - `ratings_count[max]=100` – Returns all Learning Objects has ratings_count less than or equal 100'
        schema:
          type: array
          items:
            type: string
      - name: five_star_rating[]
        required: false
        in: query
        description: 'Filter by number of user ratings. Will return learning objects with a number of user ratings match the specified value. Ratings range from 1.0 to 5.0.


          - `[min]` will match all records *greater than or equal to* this number

          - `[max]` will match all records *less than or equal to* this number


          Examples:


          - `five_star_rating[min]=2` – Returns all Learning Objects has five_star_rating greater than or equal 2

          - `five_star_rating[max]=4.7` – Returns all Learning Objects has five_star_rating less than or equal 4.7'
        schema:
          type: array
          items:
            type: string
      - name: is_compliance
        required: false
        in: query
        description: 'Filters learning objects by compliance classification.




          Examples:




          - `is_compliance=true` – returns Learning Objects that are classified as compliance training


          - `is_compliance=false` – returns Learning Objects that are not classified as compliance training'
        schema:
          example: is_compliance=true
          type: boolean
      - name: accessibility_features_screenreader_compatible
        required: false
        in: query
        description: Filters the search result for content matching accessiblity.features.screen_compatible
        schema:
          type: boolean
      - name: accessibility_features_transcript
        required: false
        in: query
        description: Filters the search result for content matching accessiblity.features.transcriptions
        schema:
          type: boolean
      - name: accessibility_features_closed_captions
        required: false
        in: query
        description: Filters the search result for content matching accessiblity.features.closed_captions
        schema:
          type: boolean
      - name: accessibility_wcag_level
        required: false
        in: query
        description: 'Filters the search result for content matching atleast the accessiblity.wcag_level and others of “greater” value. Enum: `2.0 AA`, `2.0 AAA`, `2.1 A`, `2.1 AA`, `2.1 AAA`, `2.2 A`, `2.2 AA`, `2.2 AAA`.'
        schema:
          example: 2.0 AA
          type: string
          enum:
          - 2.0 AA
          - 2.0 AAA
          - 2.1 A
          - 2.1 AA
          - 2.1 AAA
          - 2.2 A
          - 2.2 AA
          - 2.2 AAA
      - name: category_id[]
        required: false
        in: query
        description: "Filters Learning Objects by one or more category IDs.\n   Behaviour:\n     - Supplying a single category ID returns all Learning Objects tagged with that category.\n     - Supplying multiple category IDs returns Learning Objects that match any of the provided IDs (logical OR).\n   Examples:\n     - `category_id[]=cat_01K568QVV2T4Q1F8H8A3D706EN` → returns Learning Objects tagged with that category.\n     - `category_id[]=cat_01K568QVV2T4Q1F8H8A3D706EN&category_id[]=cat_01K568QVV2T4Q1F8H8A3D706ZI` → returns Learning Objects tagged with either category (OR logic)."
        schema:
          type: array
          items:
            type: string
      - name: preferred_language
        required: false
        in: query
        description: The language in which the Learning Object is presented. ISO-639-1 language code format, with an optional ISO-3166 two character country code, separated by a hyphen.
        schema:
          example: en-US
          type: string
      - name: include[]
        required: false
        in: query
        description: 'Returns extended information related to the Learning Object. Enum:

          - `core`, returns the `core` object.

          - `pricing`, returns the `pricing` object.

          - `lifecycle`, returns the `lifecycle` object.

          - `relevance`, returns the `relevance` object.

          - `skills`, returns the `skills` object.

          - `quality`, returns the `quality` object.

          - `provider`, returns the `provider` object.

          - `playback_behavior`, returns the `playback_behavior` object.

          - `images`, returns the `images` object.

          - `preview`, returns the `preview` object.

          - `tags`, returns the `tags` object.

          - `topics`, returns the `topics` object.

          - `offerings`, returns the `offerings` object.

          - `revisions`, returns the `revisions` object.

          - `presentation`, returns the `presentation` object.

          - `accessibility`, returns the `accessibility` object. If the `include[]` parameter is not supplied, the `core` fields will be returned by default. See the response schema for a list of fields that can be expected with each of the objects defined above.'
        schema:
          default: core
          type: array
          items:
            type: string
            enum:
            - core
            - relevance
            - pricing
            - lifecycle
            - skills
            - quality
            - revisions
            - provider
            - playback_behavior
            - topics
            - images
            - preview
            - tags
            - offerings
            - presentation
            - accessibility
      responses:
        '200':
          description: Returns a list of Learning Objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                    description: The total number of retrievable results from the request.
                    example: 1
                  facets:
                    description: Collection of requested Learning Object facets.
                    allOf:
                    - type: object
                      properties:
                        providers:
                          description: Returns a list of available values for providers.
                          example:
                          - key: 2160967
                            name: O Reilly
                            count: 5503
                          - key: 2160986
                            name: Roberto Blake
                            count: 1956
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: Unique identifier that defines this facet bucket.
                                example: 1.0-15.0
                              count:
                                type: number
                                description: Total number of Learning Objects that match this facet bucket.
                                example: 1393
                              from:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 1
                              to:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 15
                              name:
                                type: string
                                description: Only returned with `providers` facet.
                                example: O Reilly
                        language:
                          description: Returns a list of available values for language.
                          example:
                          - key: en
                            count: 60614
                          - key: es
                            count: 42
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: Unique identifier that defines this facet bucket.
                                example: 1.0-15.0
                              count:
                                type: number
                                description: Total number of Learning Objects that match this facet bucket.
                                example: 1393
                              from:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 1
                              to:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 15
                              name:
                                type: string
                                description: Only returned with `providers` facet.
                                example: O Reilly
                        region_relevance:
                          description: Returns a list of available values for region_relevance.
                          example:
                          - key: GLOBAL
                            count: 3004
                          - key: AU
                            count: 138
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: Unique identifier that defines this facet bucket.
                                example: 1.0-15.0
                              count:
                                type: number
                                description: Total number of Learning Objects that match this facet bucket.
                                example: 1393
                              from:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 1
                              to:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 15
                              name:
                                type: string
                                description: Only returned with `providers` facet.
                                example: O Reilly
                        locale:
                          description: Returns a list of available values for locale.
                          example:
                          - key: en-US
                            count: 3004
                          - key: en-AU
                            count: 138
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: Unique identifier that defines this facet bucket.
                                example: 1.0-15.0
                              count:
                                type: number
                                description: Total number of Learning Objects that match this facet bucket.
                                example: 1393
                              from:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 1
                              to:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 15
                              name:
                                type: string
                                description: Only returned with `providers` facet.
                                example: O Reilly
                        topics:
                          description: Returns a list of available values for topics.
                          example:
                          - key: Business Skills
                            count: 43651
                          - key: Entrepreneurship
                            count: 42141
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: Unique identifier that defines this facet bucket.
                                example: 1.0-15.0
                              count:
                                type: number
                                description: Total number of Learning Objects that match this facet bucket.
                                example: 1393
                              from:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 1
                              to:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 15
                              name:
                                type: string
                                description: Only returned with `providers` facet.
                                example: O Reilly
                        duration:
                          description: Returns a list of available values for duration.
                          example:
                          - key: 1.0-15.0
                            from: 1
                            to: 15
                            count: 1393
                          - key: 15.0-30.0
                            from: 15
                            to: 30
                            count: 521
                          - key: 30.0-60.0
                            from: 30
                            to: 60
                            count: 576
                          - key: 60.0-*
                            from: 60
                            count: 921
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: Unique identifier that defines this facet bucket.
                                example: 1.0-15.0
                              count:
                                type: number
                                description: Total number of Learning Objects that match this facet bucket.
                                example: 1393
                              from:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 1
                              to:
                                type: number
                                description: Only returned with `duration` facet.
                                example: 15
                              name:
                                type: string
                                description: Only returned with `providers` facet.
                                example: O Reilly
                        entry_level:
                          description: Returns a list of available values for entry_level.
                          example:
                          - key: Beginner
                            count: 66
                          - key: Suitable for everyone
                            count: 56
                          - key: Intermediate
                            count: 46
                          - key: Advanced
                            count: 30
[...]
